
html,
body {
    font-family: "Menlo", monospace;
    font-size: 14px;
    margin: 0;
    min-height: 400px;
    padding: 0;
    min-width: 600px;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link,
a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

p {
    font-size: 15px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}
.logo {
    text-align: center;
    padding-bottom: 0;
}

.modal-content {
    padding: 7px 22px;
    border-bottom: 0.5px solid #dadada;
}

.title{
    text-align:center;
    margin:0;
}

.btn  .nextDiv{
    align-items: center;
    margin:0;
}

.part1 {
    position: absolute;
    right: 0px;
    width: 300px;
}

#part2 {
    display: none;
}

.stats {
    text-align: center;
    padding-top: 12px;
    margin: 0;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}
	
p#word{
    font-size: 20px;
    color: black;
}
p#timer{
    text-align: center;
    margin-left: 95px;
    font-size: 16px;
    color: black;
    display: inline;
}
#reset{
    margin-left: 10px;
}
#test_result{
    margin-left: 120px;
}